.main nav {
    background: #5474FD;
    width: 100%;
    bottom: 0;
    left: 0;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.5rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 0.9rem;
        letter-spacing: 0.15rem;
        position: relative;

        &:hover,
        &:focus {
            opacity: 0.7;
        }
    }
}